Flask==2.3.3
flask_cors==4.0.1
python-dotenv==1.0.1
gunicorn==23.0.0
opencv-python-headless==4.10.0.84
deepface==0.0.93
numpy==1.26.2  # Match base image to avoid conflicts
requests==2.31.0  # Match base image
getmac==0.9.4
pymongo==4.8.0
cloudinary==1.41.0
blinker==1.7.0  # Explicitly specify newer version